<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="{{ app_base_url }}assets/datarobot_favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script id="env-script">
      window.ENV = {{ env | tojson }};
    </script>
    {% for css in css_files %}
    <link rel="stylesheet" crossorigin href="{{ css }}" />
    {% endfor %} {% for js in js_files %}
    <script type="module" crossorigin src="{{ js }}"></script>
    {% endfor %}
  </head>
  <body>
    <div id="root">
      <section>
        <h1>Example Application</h1>
        <div>Hello {{datarobot_email}}.</div>
      </section>
      <section>
        <h1>Configured OAuth Providers</h1>
        <div>Your auth providers are as follows.</div>
        <ol>
          {% for p in auth_providers %}
            <li>{{p}}</li>
          {% endfor %}
        </ol>
      </section>
      <section>
        <form action="/login-oauth" method="post">
          <label for="provider-dropdown">Choose a provider:</label>
          <select id="provider-dropdown" name="provider_id">
            {% for p, id in auth_providers.items() %}
              <option value="{{id}}">{{p}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Login">
        </form>
      </section>
      <section>
        <h1>Your Tokens</h1>
        <table>
          <thead>
            <th>Provider</th>
            <th>User Id</th>
            <th>Token</th>
            <th>Expiry</th>
          </thead>
          <tbody>
            {% for token in tokens %}
            <tr>
              <td>
                {{token["provider_name"]}}
              </td>
              <td>
                {{token["user_id"]}}
              </td>
              <td>
                {{token["token"]}}
              </td>
              <td>
                {{token["token_expiry"]}}
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
